[submodule "public"]
	path = public
	url = https://github.com/Christophe1997/christophe1997.github.io.git
	branch = master
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
    url = https://github.com/Christophe1997/hugo-PaperMod.git
    branch = master
